@page
@model DisasterAlleviation.Pages.GoodsReceivedModel
@{
    
<html>
    <head>

    </head>
    <body>
        <label for="donTotal"><h3>Total Goods Donated: 20</h3></label>
        <!--<label name="donTotal" id="donationTotal" ></label>-->
    </body>
</html>
}
