@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <body>
        <div class="text-center">
            <h1>Login As</h1>
        </div>
        <div class="user-type">
            <a href="/LogUser">
                <img src="Icons\blood-donor.png" />
                <h5>Donor</h5>
            </a> 

            <a href="/LogUser">
                <img src="Icons\administrator.png" />
                <h5>Administrator</h5>
            </a> 
        </div>
    </body>
</html>
