@page
@model DisasterAlleviation.Pages.monetaryDonateModel
@{
}
<html>
    <head>

    </head>
        <form action="POST">
            <div class= "label-content">
                <label for="date">Date:</label>
                <input type="date" id="donDate" name="donDate"><br>
                <label for="amount">Date:</label>
                <input type="number"  id="date" name="amount"><br>
            <div>
                <label for="userName">Name</label>
                <input type="text" id="userName" name = "userName"><br>
            </div>
            <div class = "donBtn">
                <input type="submit" value="DONATE"/>
            </div>
        </div>
        </form> 
</html>