@page
@model DisasterAlleviation.Pages.MonetaryAllocateModel
@{
     <h3 class ="log-head">Allocate <span>TO</span> Goods TO ACIVE DISASTER</h3>
     <form method = "POST">
          <div class="alignField">
          <label for="goodName">Good Name:</label>
          <input type="number" name="goodName" required placeholder="Good Name"><br>
          </div>
          <input type="submit" value="Allocate Good"/>
          <table>
            
          </table>
     </form> 
}
