@page
@model DisasterAlleviation.Pages.totalMonetaryModel
@{
}

<html>
    <head>

    </head>
    <body>
        <label for="donTotal">Total monetary donations:</label>
        <<label name="donTotal" id="donationTotal" ></label>
    </body>
</html>